.contactUsTitle {
  font-size: 20px;
  font-weight: 700;
  margin: 40px;
}
.contactUsSubtitle {
  font-size: 15px;
  font-weight: 700;
  margin: 20px;
  margin-top: 40px;
}
.contactUsParagraph {
  max-width: 80%;
  display: block;
  margin: auto;
}

.webformContainer {
  background: #ebf1f4;
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}
.contactUsForm {
  padding: 10px;
}

.webformFieldName {
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
}

.webformTextField {
  background: white;
  width: 50%;
}
.webformSelect {
  background: white;
  width: 50%;
}
.contactUsButton {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  background: #b30000;
  border: transparent solid 3px;
  padding: 20px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}
.contactUsButton:hover {
  color: #b30000;
  background: white;
  border: #b30000 solid 3px;
  cursor: pointer;
}

@media (max-width: 950px) {
  .webformTextField,
  .webformSelect {
    width: 80%;
  }
}
