.mainNav {
  background-color: white;
  height: 60px;
}
.miniNav {
  background-color: #ebf1f4;
  padding: 10px;
}

.navButton {
  transition: all 200ms ease-in-out;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;

  font-weight: 700;
}
.navButton:hover {
  text-decoration: underline;
  border: none;
  cursor: pointer;
  color: #e38a17;
}
.navText {
  font-size: 12px;
}
.navText:hover {
  cursor: pointer;
  text-decoration: underline;
}
.navbarLogo {
  height: 60px;
  width: auto;
  display: inline;
}

.bagIcon {
  position: relative;
  margin-bottom: -5px;
}

.shopCategories {
  font-weight: 600;
}

.shopCategories:hover {
  text-decoration: underline;
  cursor: pointer;
}

.categoryLink {
  text-decoration: none;
}

.navbarLink {
  text-decoration: none;
}
.signupButton {
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: transparent solid 3px;
  color: white;
  background: #e38a17;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5px;
}

.loginButton {
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: transparent solid 3px;
  color: white;
  background: #e38a17;
  border-radius: 5px;
  width: 100%;
}

.shopCard {
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 10px;
}

@media (max-width: 950px) {
  .shopCard {
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 10px;
  }
}
